.customer-list {
    text-align: center;
    margin: auto;
    width: 60%;
}

.customer-list h1 {
    margin: 2em;
    color: dodgerblue;
    text-decoration: underline;
}

.customer-div {
    margin: 3em;
}