.user-list {
    text-align: center;
    margin: auto;
    width: 60%;
}

.user-div {
    width: 40%;
    padding: 0;
    display: inline-block;
    margin: 5px;
}

.info-div {
    justify-content: center;
}

