.job-complete {
    color: forestgreen;
}

.job-not-complete {
    color: crimson;
}

#shallow-ul {
    position: relative;
    left: -40px;
    list-style-type: none;
}

.user-workOrder-div {
    display: inline;
}

.workOrder-card-text {
    line-height: 0.75;
}

.workOrder-card {
    margin: 0.25em;
}

.container {
    color: white;
}

#select-job-btn {
    color: white;
    background-color: lightseagreen;
}

#delete-job-btn {
    color: white;
    border: solid white 1px;
}

.cust-btns {
    background-color: white;
}