.job-complete {
    color: forestgreen;
}

.job-not-complete {
    color: crimson;
}

#shallow-ul {
    position: relative;
    left: -40px;
    list-style-type: none;
}

.user-workOrder-div {
    display: inline;
}

.workOrder-card-text {
    line-height: 0.75;
}

.workOrder-card {
    margin: 0.25em;
}