.equipment-list {
    text-align: center;
    margin: auto;
}

.equipment-list h1 {
    margin: 2em;
    color: dodgerblue;
    text-decoration: underline;
}

.bike-div {
    margin: 3em;
}

.bike-p {
    font-size: 1em;
    text-align: left;
}

.cntrl-div {
    margin-top: 2em;
}

.equipment-input {
    text-align: center;
    margin: 2em auto 0;
}

.equipment-cards {
    margin: 1em;
    height: 363px;
    color: #6C757D;
}
