#update-input {
    width: 100%;
    margin: auto;
    text-align: center;
}

.row {
    justify-content: center;
    margin: auto;
}

#update-table {
    text-align: left;
    justify-content: center;
    margin: auto;
}

#update-user-card {
    color: #6C757D;
}