/* Styling the backround of the entire form */
#checkIn-div {
    justify-content: center;
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: #6C757D;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.radio-good {
    color: lightgreen;
}

.radio-maintenance {
    color: rgb(255, 183, 0);
}

.radio-replace {
    color: crimson;
}

#score-out {
    position: fixed;
    color: white;
    right: 0;
    bottom: 0;
}

#checkin-sub-btn {
    margin: 1em;
    color: #6C757D;
}

#checkIn-table {
text-align: left;
color: white;
}

#thead-h1 {
    text-align: center;
}