#checkIn-div {
    text-align: center;
    /* background-color: lightgray; */
}

#checkIn-div h1 {
    text-decoration: underline;
    color: white;
}

.radio-good {
    color: forestgreen;
}

.radio-maintenance {
    color: rgb(255, 183, 0);
}

.radio-replace {
    color: crimson;
}

#radios-div {
    width: 40%;
    display: inline-block;
    margin: auto;
    text-align: justify;
}

#score-out {
    position: fixed;
    right: 0;
    bottom: 0;
}

