.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 30px;
  background-color: #6C757D;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: lightseagreen;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: lightseagreen;
  background-color: #6C757D;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #6C757D;
  color: white;
}